html{
  background-color: aqua
}

.centerText{
  text-align: center
}

#container{
  margin-left: 32px;
  display: flex;
  justify-content: space-evenly
}

/* COMMENTS */
#projectText:hover{
  cursor:  pointer;
  color: #FF5733 
}

#techText:hover{
  cursor:  pointer;
  color: #FF5733 
}

#projectList{
  text-align: center;
  margin-top: 12px
}

#techList{
  text-align: center;
  margin-top: 12px
}

.linkText{
  color: green
}

#image{
  justify-content: center
}
